<header class="header">
    <div class="flex gap-2 items-center">
        <button
            type="button"
            name="abrir-menu"
            aria-label="Abrir menú"
            onClick="{openDrawer}"
            className="button menu animated">
            <fa-icon [icon]="faBars"></fa-icon>
        </button>
        <h1 class="text-lg text-text pointer-events-none poppins font-bold">
            Sito Compras
        </h1>
    </div>
    <div class="max-xs:hidden">
        <app-clock></app-clock>
    </div>
</header>
