<div>
    <ul *ngIf="products.length > 0; else noLists">
        <li
            *ngFor="let product of products"
            class="flex justify-between items-center gap-2 p-2 border-b">
            {{ product.count }} x {{ product.name }} -
            {{ product.price | currency }}
            <button (click)="remove.emit(product.id)" class="icon-button error">
                <fa-icon [icon]="faClose"></fa-icon>
            </button>
        </li>
    </ul>
    <ng-template #noLists>
        <p>No tienes productos en la lista</p>
    </ng-template>
</div>
