VITE_API_URL="http://localhost:8080/"
VITE_THIS_URL="http://localhost:5173/"

VITE_BASIC_KEY="basic_compras"
VITE_CACHE="cache_compras"
VITE_VALIDATION_COOKIE="validation_compras"
VITE_RECOVERING_COOKIE="recovering_compras"
VITE_CRYPTO='api.compras.com'

# user settings
VITE_USER="user_compras"
VITE_ACCEPT_COOKIE="accept_compras"
VITE_DECLINE_COOKIE="decline_compras"
VITE_LANGUAGE="language_compras"
VITE_REMEMBER="remember_compras"
VITE_ONBOARDING="onboarding_compras"
VITE_GUEST_MODE="guest_mode_compras"
VITE_RECENT_SEARCHES="recent_searches_compras"

VITE_SUPABASE_CO=""
VITE_SUPABASE_ANON=""
